.demo-loadmore-list {
  min-height: 150px;
}
.header-of-list {
  text-align: center;
}
.all-profile-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.friend-request-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
