.profile-image {
  width: 20vw;
  height: 20vh;
  border-radius: 100%;
}
.img-and-name {
  position: absolute;
  bottom: -9.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-face {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1541140134513-85a161dc4a00?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Z3JleSUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  height: 30vh;
}
.body-of-profile {
  display: flex;
  justify-content: space-between;
  margin-top: 11vh;
  margin-left: 1vw;
  min-height: 80vh;
}
.upload-image {
  display: flex;
  justify-content: center;
}

