.post-image {
  border-radius: 50%;
}

.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* .one-post-container{
    align-content: center;
  } */
.poster-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

/* .post-content{
  width: 50%;
  height: 10%;
  } */

.comment-container {
  background-color: rgb(214, 205, 205);
}
.create-new-post-container{
  margin: auto;
  width: 50%;
  /* border: 3px solid #73AD21; */
  padding: 10px;
}