.post-image {
  border-radius: 50%;
}

.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.one-post-container {
  width: 70%;
  align-self: center;
}

.poster-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

/* .post-content{
  width: 50%;
  height: 10%;
  } */

.comment-container {
  background-color: rgb(214, 205, 205);
}
/* .create-new-post-container {
  margin: auto;
  width: 50%;
  border: 3px solid #73AD21;
  padding: 10px;
} */

/* comments design */
.comment-form {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.comment-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.comment-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 16px;
}

.comment-button:hover {
  background-color: #0056b3;
}
.comment-content {
  margin-top: 5px;
}

.comment-container {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 3px;
  background-color: #f0f2f5;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.comment-text {
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  padding: 5px 0;
}

.comment-text:last-child {
  margin-bottom: 0;
}
.post-and-input {
  width: 100%;
  margin-top: 5px;
  height: 10vh;
  align-self: center;
}
.create-post-input {
  margin-top: 20px;
}

